<div class="columns">
    <div class="column">

        <nav class="level">
            <div class="level-left">
                <div class="level-item">

                    <div class="field">
                        <label class="label">First name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">Last name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>
                </div>
            </div>
        </nav>


        <!-- Address start -->
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <div class="field">
                        <label class="label">Address</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>

                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">House number</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field">
                        <label class="label">Zip code</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>

                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">City</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-city"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Address end -->


        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field">
                        <label class="label">Credit insitution</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-university"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>

                </div>
                <div class="level-item">
                    <div class="field">
                        <label class="label">IBAN</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" placeholder="DE____________________">
                            <span class="icon is-small is-left">
                                <i class="fas fa-passport"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success"></p>
                    </div>
                </div>
            </div>
        </nav>




        <div class="field is-grouped">
            <div class="control">
                <button class="button is-success">Save</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
    </div>
</div>