
<div class="columns">
    <div class="column is-two-fifths">
        <nav class="panel is-info">
            
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search created sepa mandates">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <a class="panel-block is-active is-size-6 has-text-weight-bold">
              <span class="panel-icon">
                <i class="fas fa-ethernet" aria-hidden="true"></i>
              </span>
              Vodafone TV and Internet
            </a>
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fas fa-home" aria-hidden="true"></i>
              </span>
              Apartment rent
            </a>
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fas fa-tv" aria-hidden="true"></i>
              </span>
              Rundfunk TV & Radio
            </a>
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fas fa-car" aria-hidden="true"></i>
              </span>
              Car insurance
            </a>
            <a class="panel-block">
              <span class="panel-icon">
                <i class="fas fa-train" aria-hidden="true"></i>
              </span>
              BVG ABO
            </a>
            <div class="panel-block">
              <button class="button is-success is-outlined is-fullwidth">
                Create new SEPA Mandate
              </button>
            </div>
          </nav>        
    </div>
    <div class="column">

        <div class="field">
            <label class="label">Mandate reference</label>
            <div class="control">
              <input class="input" type="text" placeholder="">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Creditor name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            <p class="help is-success"></p>
          </div>    
          <div class="field">
            <label class="label">Creditor identification number (optional)</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            <p class="help is-success"></p>
          </div>

                  <!-- Address start -->
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
              <div class="level-item">
                  <div class="field">
                      <label class="label">Address</label>
                      <div class="control has-icons-left has-icons-right">
                          <input class="input is-success" type="text" placeholder="">
                          <span class="icon is-small is-left">
                              <i class="fas fa-map-marker-alt"></i>
                          </span>
                          <span class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                          </span>
                      </div>
                      <p class="help is-success"></p>
                  </div>

              </div>
              <div class="level-item">
                  <div class="field">
                      <label class="label">House number</label>
                      <div class="control has-icons-left has-icons-right">
                          <input class="input is-success" type="text" placeholder="">
                          <span class="icon is-small is-left">
                              <i class="fas fa-map-marker-alt"></i>
                          </span>
                          <span class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                          </span>
                      </div>
                      <p class="help is-success"></p>
                  </div>
              </div>
          </div>
      </nav>
      <nav class="level">
          <div class="level-left">
              <div class="level-item">
                  <div class="field">
                      <label class="label">Zip code</label>
                      <div class="control has-icons-left has-icons-right">
                          <input class="input is-success" type="text" placeholder="">
                          <span class="icon is-small is-left">
                              <i class="fas fa-map-marker-alt"></i>
                          </span>
                          <span class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                          </span>
                      </div>
                      <p class="help is-success"></p>
                  </div>

              </div>
              <div class="level-item">
                  <div class="field">
                      <label class="label">City</label>
                      <div class="control has-icons-left has-icons-right">
                          <input class="input is-success" type="text" placeholder="">
                          <span class="icon is-small is-left">
                              <i class="fas fa-city"></i>
                          </span>
                          <span class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                          </span>
                      </div>
                      <p class="help is-success"></p>
                  </div>
              </div>
          </div>
      </nav>
      <!-- Address end -->

          

          <div class="field">
            <label class="label">IBAN</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>John Smith - DE 111 222 333 444</option>
                  <option>Eva Smith - DE 222 444 555 666</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>
          
         
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-success">Save</button>
            </div>
            <div class="control">
              <button class="button is-warning">Delete Entry</button>
            </div>
            <div class="control">
              <button class="button is-danger">Cancel Mandate</button>
            </div>
          </div>
    </div>
  </div>
